Examples/CmetSchema.xsd

<?xml version="1.0" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../Schemas/UKCT_MT160017UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT160018UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144035UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144036UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144037UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144038UK02.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144039UK02.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144040UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144041UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144042UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144043UK02.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144044UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144045UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144046UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144047UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144048UK02.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144049UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144050UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144051UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144053UK02.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144054UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144055UK01.xsd"/>
	<xs:include schemaLocation="../Schemas/UKCT_MT144056UK01.xsd"/>
	<xs:element name="UKCT_MT160017UK01.AgentOrgSDS" type="UKCT_MT160017UK01.AgentOrgSDS"/>
	<xs:element name="UKCT_MT160017UK01.AgentOrg" type="UKCT_MT160017UK01.AgentOrg"/>
	<xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"/>
	<xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"/>
	<xs:element name="UKCT_MT144055UK01.Treatment" type="UKCT_MT144055UK01.Treatment"/>
	<xs:element name="UKCT_MT144050UK01.AdministrativeProcedure" type="UKCT_MT144050UK01.AdministrativeProcedure"/>
	<xs:element name="UKCT_MT144049UK01.ProvisionOfAdviceAndInformation" type="UKCT_MT144049UK01.ProvisionOfAdviceAndInformation"/>
	<xs:element name="UKCT_MT144048UK02.AllergyDE" type="UKCT_MT144048UK02.AllergyDE"/>
	<xs:element name="UKCT_MT144047UK01.Service" type="UKCT_MT144047UK01.Service"/>
	<xs:element name="UKCT_MT144046UK01.PersonalPreference" type="UKCT_MT144046UK01.PersonalPreference"/>
	<xs:element name="UKCT_MT144045UK01.Investigation" type="UKCT_MT144045UK01.Investigation"/>
	<xs:element name="UKCT_MT144044UK01.FamilyHistory" type="UKCT_MT144044UK01.FamilyHistory"/>
	<xs:element name="UKCT_MT144043UK02.Finding" type="UKCT_MT144043UK02.Finding"/>
	<xs:element name="UKCT_MT144043UK02.BloodPressure" type="UKCT_MT144043UK02.BloodPressure"/>
	<xs:element name="UKCT_MT144043UK02.Weight" type="UKCT_MT144043UK02.Weight"/>
	<xs:element name="UKCT_MT144043UK02.Height" type="UKCT_MT144043UK02.Height"/>
	<xs:element name="UKCT_MT144043UK02.Temperature" type="UKCT_MT144043UK02.Temperature"/>
	<xs:element name="UKCT_MT144043UK02.FindingOrganizer" type="UKCT_MT144043UK02.FindingOrganizer"/>
	<xs:element name="UKCT_MT144042UK01.Diagnosis" type="UKCT_MT144042UK01.Diagnosis"/>
	<xs:element name="UKCT_MT144041UK01.RiskToPerson" type="UKCT_MT144041UK01.RiskToPerson"/>
	<xs:element name="UKCT_MT144040UK01.CurrentRepeatMedication" type="UKCT_MT144040UK01.CurrentRepeatMedication"/>
	<xs:element name="UKCT_MT144040UK01.AcuteMedication" type="UKCT_MT144040UK01.AcuteMedication"/>
	<xs:element name="UKCT_MT144040UK01.DiscontinuedRepeatMedication" type="UKCT_MT144040UK01.DiscontinuedRepeatMedication"/>
	<xs:element name="UKCT_MT144040UK01.MedicationAdministration" type="UKCT_MT144040UK01.MedicationAdministration"/>
	<xs:element name="UKCT_MT144039UK02.LinkAssertion" type="UKCT_MT144039UK02.LinkAssertion"/>
	<xs:element name="UKCT_MT144039UK02.ProblemMemberAssertion" type="UKCT_MT144039UK02.ProblemMemberAssertion"/>
	<xs:element name="UKCT_MT144039UK02.ProblemLinkAssertion" type="UKCT_MT144039UK02.ProblemLinkAssertion"/>
	<xs:element name="UKCT_MT144038UK02.Problem" type="UKCT_MT144038UK02.Problem"/>
	<xs:element name="UKCT_MT144037UK01.CareEvent" type="UKCT_MT144037UK01.CareEvent"/>
	<xs:element name="UKCT_MT144036UK01.LifeStyle" type="UKCT_MT144036UK01.LifeStyle"/>
	<xs:element name="UKCT_MT144036UK01.Smoking" type="UKCT_MT144036UK01.Smoking"/>
	<xs:element name="UKCT_MT144036UK01.AlcoholIntake" type="UKCT_MT144036UK01.AlcoholIntake"/>
	<xs:element name="UKCT_MT144036UK01.SocialOrPersonalCircumstance" type="UKCT_MT144036UK01.SocialOrPersonalCircumstance"/>
	<xs:element name="UKCT_MT144035UK01.CareProfessionalDocumentation" type="UKCT_MT144035UK01.CareProfessionalDocumentation"/>
	<xs:element name="UKCT_MT144035UK01.ThirdPartyCorrespondence" type="UKCT_MT144035UK01.ThirdPartyCorrespondence"/>
	<xs:element name="UKCT_MT144035UK01.PatientCarerCorrespondence" type="UKCT_MT144035UK01.PatientCarerCorrespondence"/>
	<xs:element name="UKCT_MT144051UK01.CareProfessionalDocumentationCRE" type="UKCT_MT144051UK01.CareProfessionalDocumentationCRE"/>
	<xs:element name="UKCT_MT144053UK02.Allergy" type="UKCT_MT144053UK02.Allergy"/>
	<xs:element name="UKCT_MT144054UK01.RiskToPatient" type="UKCT_MT144054UK01.RiskToPatient"/>
	<xs:element name="UKCT_MT144056UK01.Refusal" type="UKCT_MT144056UK01.Refusal"/>
</xs:schema>
