VocabularySchemas/LRVocab.xsd

<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:simpleType name="WorkgroupAttribute_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="WGN"/>
			<xs:enumeration value="WGS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupAttribute_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Workgroup name"/>
			<xs:enumeration value="Workgroup status"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupAttribute_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.182"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_WorkgroupAttribute">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="WorkgroupAttribute_code" use="optional"/>
				<xs:attribute name="codeSystem" type="WorkgroupAttribute_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_WorkgroupAttribute">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="WorkgroupAttribute_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="WorkgroupStatus_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupStatus_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Frozen"/>
			<xs:enumeration value="Closed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupStatus_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.184"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_WorkgroupStatus">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="WorkgroupStatus_code" use="optional"/>
				<xs:attribute name="codeSystem" type="WorkgroupStatus_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_WorkgroupStatus">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="WorkgroupStatus_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="WorkgroupType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Standard"/>
			<xs:enumeration value="Long Term Care"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkgroupType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.181"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_WorkgroupType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="WorkgroupType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="WorkgroupType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_WorkgroupType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="WorkgroupType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
