VocabularySchemas/P2PVocab.xsd

<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:simpleType name="P2PActType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="DTSPI"/>
			<xs:enumeration value="DTSPB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="P2PActType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Data Transfer Service Payload Information"/>
			<xs:enumeration value="Data Transfer Service Payload Body"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="P2PActType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.202"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_P2PActType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="P2PActType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="P2PActType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_P2PActType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="P2PActType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
