Schemas/COCT_MT000215UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : COCT_MT000215UK01.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:group name="COCT_MT000215UK01">
      <xs:sequence>
         <xs:element name="SupportingCytologyInfo" type="COCT_MT000215UK01.SupportingCytologyInfo"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCT_MT000215UK01.CervixVisualisedNotVisualised">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="lMP" type="COCT_MT000215UK01.LMP" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="cervixVisualisedNotVisualised"
                     type="COCT_MT000215UK01.CervixVisualisedNotVisualised"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="sweepDoneNotDone" type="COCT_MT000215UK01.SweepDoneNotDone" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.LMP">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.SupportingCytologyInfo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="component" type="COCT_MT000215UK01.Component" minOccurs="1" maxOccurs="1"/>
         <xs:element name="component2" type="COCT_MT000215UK01.Component2" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="component3" type="COCT_MT000215UK01.Component3" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ORGANIZER"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT000215UK01.SweepDoneNotDone">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>