Schemas/COMT_MT000001UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : COMT_MT000001UK01.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:element name="AlertEvent" type="COMT_MT000001UK01.AlertEvent"/>
	<xs:group name="COMT_MT000001UK01">
		<xs:sequence>
			<xs:element name="COMT_MT000001UK01.AlertEvent" type="COMT_MT000001UK01.AlertEvent"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="COMT_MT000001UK01.AlertEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="effectiveTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
			<xs:element name="author" type="COMT_MT000001UK01.Author"/>
			<xs:element name="component" type="COMT_MT000001UK01.Component" nillable="true" minOccurs="0"/>
			<xs:element name="device" type="COMT_MT000001UK01.Device2"/>
			<xs:element name="reason" type="COMT_MT000001UK01.Reason"/>
			<xs:element name="reason1" type="COMT_MT000001UK01.Reason2" nillable="true" minOccurs="0"/>
			<xs:element name="recordTarget" type="COMT_MT000001UK01.RecordTarget"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ALRT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.AssignedDeviceSDS">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.oid.mandatory"/>
			<xs:element name="assignedDevice" type="COMT_MT000001UK01.DeviceSDS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="authorSDS" type="COMT_MT000001UK01.AuthorSDS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.AuthorSDS">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.oid.mandatory"/>
			<xs:element name="assignedPerson" type="COMT_MT000001UK01.Person"/>
			<xs:element name="representedOrganizationSDS" type="COMT_MT000001UK01.OrganizationSDS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="notificationMessage" type="COMT_MT000001UK01.notificationMessage" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Device2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedDeviceSDS" type="COMT_MT000001UK01.AssignedDeviceSDS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.DeviceSDS">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="TN"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.notificationMessage">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
			<xs:element name="text" type="ST"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.OrganizationSDS">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.oid.mandatory"/>
			<xs:element name="name" type="TN"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Patient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="II.NPfIT.Patient.oid" use="required"/>
							<xs:attribute name="extension" type="II.NPfIT.Patient.extension" use="required"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="desc" type="ST"/>
			<xs:element name="id" type="II.NPfIT.oid.mandatory"/>
			<xs:element name="name" type="TN"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Reason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="justifyingReasonCoded" type="COMT_MT000001UK01.ReasonCoded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.Reason2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="justifyingReasonText" type="COMT_MT000001UK01.ReasonText" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.ReasonCoded">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.ReasonText">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
			<xs:element name="text" type="ST"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000001UK01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COMT_MT000001UK01.Patient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
</xs:schema>
