Schemas/MCCI_MT200001UK03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:include schemaLocation="../voc/voc.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	<xs:include schemaLocation="UKCT_MT120501UK03.xsd"/>
	<xs:include schemaLocation="UKCT_MT120301UK02.xsd"/>
	<xs:include schemaLocation="UKCT_MT121001UK01.xsd"/>
	<xs:include schemaLocation="UKCT_MT120901UK01.xsd"/>
	<xs:element name="BatchRequest" type="MCCI_MT200001UK03.BatchRequest"/>
	<xs:complexType name="MCCI_MT200001UK03.BatchRequest">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="creationTime" type="TS"/>
			<xs:element name="transmissionQuantity" type="INT"/>
			<xs:element name="versionCode" type="CS"/>
			<xs:element name="interactionId" type="II"/>
			<xs:element name="batchSequenceNo" type="MCCI_MT200001UK03.BatchSequenceNo"/>
			<xs:element name="manifestItem" type="MCCI_MT200001UK03.ManifestItem" maxOccurs="unbounded"/>
			<xs:element name="communicationFunctionRcv" type="MCCI_MT200001UK03.CommunicationFunctionRcv"/>
			<xs:element name="communicationFunctionSnd" type="MCCI_MT200001UK03.CommunicationFunctionSnd"/>
			<xs:element name="batchControlActEvent" type="MCCI_MT200001UK03.BatchControlActEvent"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Batch"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.BatchSequenceNo">
		<xs:sequence>
			<xs:element name="value" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="AttentionLine"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.ManifestItem">
		<xs:sequence>
			<xs:element name="payloadId" type="II"/>
			<xs:element name="manifestValue" type="MCCI_MT200001UK03.ManifestValue" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="AttentionLine"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.ManifestValue">
		<xs:sequence>
			<xs:element name="manifestItemKey" type="CV"/>
			<xs:element name="manifestItemValue" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="AttentionLine"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.CommunicationFunctionRcv">
		<xs:sequence>
			<xs:element name="device" type="MCCI_MT200001UK03.Device"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="CommunicationFunction"/>
		<xs:attribute name="typeCode" type="cs" use="optional" default="RCV"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Device">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="agencyFor" type="MCCI_MT200001UK03.Agent" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Device"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Agent">
		<xs:sequence>
			<xs:element name="representedOrganization" type="MCCI_MT200001UK03.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" default="AGNT"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Organization">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="AgentOrgSDS" type="UKCT_MT120501UK03.AgentOrgSDS" minOccurs="0"/>
			<xs:element name="AgentPersonSDS" type="UKCT_MT120301UK02.AgentPersonSDS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="EntityHeir"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.CommunicationFunctionSnd">
		<xs:sequence>
			<xs:element name="device" type="MCCI_MT200001UK03.Device"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="CommunicationFunction"/>
		<xs:attribute name="typeCode" type="cs" use="optional" default="SND"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.BatchControlActEvent">
		<xs:sequence>
			<xs:element name="author1" type="MCCI_MT200001UK03.Author" maxOccurs="2"/>
			<xs:element name="author" type="MCCI_MT200001UK03.Author2" minOccurs="0"/>
			<xs:element name="subject" type="MCCI_MT200001UK03.Subject2" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Author">
		<xs:sequence>
			<xs:element name="AgentSystemSDS" type="UKCT_MT121001UK01.AgentSystemSDS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Author2">
		<xs:sequence>
			<xs:element name="AgentPersonSDS" type="UKCT_MT120901UK01.AgentPersonSDS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Subject2">
		<xs:sequence>
			<xs:element name="controlAct" type="MCCI_MT200001UK03.ControlAct"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUBJ"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.ControlAct">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="component" type="MCCI_MT200001UK03.Component"/>
			<xs:element name="subject" type="MCCI_MT200001UK03.Subject" minOccurs="0"/>
			<xs:element name="reasonOf" type="MCCI_MT200001UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="queryByParameter" type="MCCI_MT200001UK03.QueryByParameter" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Component">
		<xs:sequence>
			<xs:element name="payloadInteraction" type="MCCI_MT200001UK03.PayloadInteraction"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.PayloadInteraction">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CV"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Subject">
		<xs:sequence>
			<xs:element name="act" type="MCCI_MT200001UK03.Act"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUBJ"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Act">
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.Reason">
		<xs:sequence>
			<xs:element name="justifiedDetectedIssueEvent" type="MCCI_MT200001UK03.DetectedIssueEvent"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="RSON"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.DetectedIssueEvent">
		<xs:sequence>
			<xs:element name="code" type="CD"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ALRT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200001UK03.QueryByParameter">
		<xs:attribute name="type" type="Classes" default="QueryByParameter"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
