Schemas/MCCI_IN200002UK04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cfh-nhs-uk:npfit" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:cfh-nhs-uk:npfit" elementFormDefault="qualified">
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="BatchCommon.xsd"/>
	<xs:include schemaLocation="BatchMapping.xsd"/>
	<xs:element name="MCCI_IN200002UK04" type="BatchResponse"/>
	<xs:complexType name="BatchResponse">
		<xs:complexContent>
			<xs:extension base="hl7:BatchResponse">
				<xs:sequence>
					<xs:element name="batchControlActEvent" type="BatchControlActEvent" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BatchControlActEvent">
		<xs:complexContent>
			<xs:extension base="hl7:BatchControlActEvent">
				<xs:sequence>
					<xs:element name="subject" type="hl7:RespondSubject" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
