Schemas/POLB_MT001000UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : POLB_MT001000UK01.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="COCT_MT080200UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT121200UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT121100UK01.xsd"/>
   <xs:include schemaLocation="COCT_MT000213UK01.xsd"/>
   <xs:element name="LaboratoryRequestGroup" type="POLB_MT001000UK01.LaboratoryRequestGroup"/>
   <xs:complexType name="POLB_MT001000UK01.AssignedProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="2" maxOccurs="2"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedPersonProvider" type="POLB_MT001000UK01.PersonProvider"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="placerGroup" type="POLB_MT001000UK01.PlacerGroup" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationRequest" type="POLB_MT001000UK01.ObservationRequest"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="observationRequest" type="POLB_MT001000UK01.ObservationRequest"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="CON"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.HealthCareProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PROV"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.LaboratoryRequestGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT001000UK01.Specimen1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT001000UK01.RecordTarget" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="performer" type="POLB_MT001000UK01.Performer" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="POLB_MT001000UK01.Author" minOccurs="1" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient"
                     type="POLB_MT001000UK01.PrimaryInformationRecipient"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="tracker" type="POLB_MT001000UK01.Tracker" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="notificationContact" type="POLB_MT001000UK01.NotificationContact"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="POLB_MT001000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="POLB_MT001000UK01.Component1" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.NotificationContact">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="contactParty" type="POLB_MT001000UK01.ContactParty" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="NOT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.ObservationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT001000UK01.Specimen2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT001000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="patientPerson" type="POLB_MT001000UK01.Person" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Patient2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf" type="POLB_MT001000UK01.Subject" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.PatientCareProvision">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="performer" type="POLB_MT001000UK01.Performer2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PCPR"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Performer2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedProvider" type="POLB_MT001000UK01.AssignedProvider" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ethnicGroupCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asPatient" type="POLB_MT001000UK01.Patient2" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.PersonProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="asHealthCareProvider" type="POLB_MT001000UK01.HealthCareProvider"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.PlacerGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT001000UK01.Specimen3" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="POLB_MT001000UK01.Component2" nillable="true"
                     minOccurs="2"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT001000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.PrimaryInformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRCP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="textObservation" type="COCT_MT000213UK01.TextObservation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observation" type="COCT_MT000213UK01.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="pregnancyStatus" type="COCT_MT000213UK01.PregnancyStatus" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="laboratoryReport" type="COCT_MT000216UK01.LaboratoryReport"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="givenMedication" type="COCT_MT000214UK01.GivenMedication" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="proposedAntibiotics" type="COCT_MT000214UK01.ProposedAntibiotics"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="supportingCytologyInfo" type="COCT_MT000215UK01.SupportingCytologyInfo"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="POLB_MT001000UK01.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Specimen1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="specimen" type="COCT_MT080200UK01.Specimen" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Specimen2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="specimen" type="COCT_MT080200UK01.Specimen" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Specimen3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="specimen" type="COCT_MT080200UK01.Specimen" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientCareProvision" type="POLB_MT001000UK01.PatientCareProvision"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT001000UK01.Tracker">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="TRC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
</xs:schema>