Schemas/POLB_MT004000UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : POLB_MT004000UK01.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="COCT_MT080200UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT121100UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT121200UK01.xsd"/>
   <xs:include schemaLocation="COCT_MT000213UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT121300UK01.xsd"/>
   <xs:element name="LaboratoryReport" type="POLB_MT004000UK01.LaboratoryReport"/>
   <xs:complexType name="POLB_MT004000UK01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.CodedComment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationReport" type="POLB_MT004000UK01.ObservationReport"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationCluster"
                        type="POLB_MT004000UK01.SpecimenObservationCluster"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationBattery" type="POLB_MT004000UK01.ObservationBattery"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEvent" type="POLB_MT004000UK01.ObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationReport" type="POLB_MT004000UK01.ObservationReport"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationCluster"
                        type="POLB_MT004000UK01.SpecimenObservationCluster"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationBattery" type="POLB_MT004000UK01.ObservationBattery"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEvent" type="POLB_MT004000UK01.ObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.DerivedFrom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="POLB_MT004000UK01.ObservationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="DRIV"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.InFulfillmentOf1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="placerOrderRef" type="POLB_MT004000UK01.PlacerOrderRef" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="FLFS"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.InFulfillmentOf2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="placerOrderRef" type="POLB_MT004000UK01.PlacerOrderRef" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="FLFS"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.InterpretationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="IVL_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="POLB_MT004000UK01.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.LaboratoryReport">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT004000UK01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT004000UK01.RecordTarget" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="performer" type="POLB_MT004000UK01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="POLB_MT004000UK01.Author" minOccurs="1" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient"
                     type="POLB_MT004000UK01.PrimaryInformationRecipient"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="tracker" type="POLB_MT004000UK01.Tracker" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000UK01.InFulfillmentOf1"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="POLB_MT004000UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="POLB_MT004000UK01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ENTRY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.ObservationBattery">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT004000UK01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer2" type="POLB_MT004000UK01.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000UK01.InFulfillmentOf2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="POLB_MT004000UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="POLB_MT004000UK01.PertinentInformation3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component2" type="POLB_MT004000UK01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="BATTERY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CV" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT004000UK01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="derivedFrom" type="POLB_MT004000UK01.DerivedFrom" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="POLB_MT004000UK01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer2" type="POLB_MT004000UK01.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000UK01.InFulfillmentOf2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="POLB_MT004000UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="POLB_MT004000UK01.PertinentInformation3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component2" type="POLB_MT004000UK01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.ObservationReport">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT004000UK01.Specimen" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="performer2" type="POLB_MT004000UK01.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000UK01.InFulfillmentOf2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="POLB_MT004000UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="POLB_MT004000UK01.PertinentInformation3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component2" type="POLB_MT004000UK01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ENTRY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="patientPerson" type="POLB_MT004000UK01.Person" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Performer3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgNonSDS" type="UKCT_MT121300UK01.AssignedOrgNonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ethnicGroupCode" type="CS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="codedComment" type="POLB_MT004000UK01.CodedComment" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="textComment" type="POLB_MT004000UK01.TextComment" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="proposedRecallDate" type="POLB_MT004000UK01.ProposedRecallDate"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.PlacerOrderRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="criterion" type="POLB_MT004000UK01.Criterion" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.PrimaryInformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRCP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.ProposedRecallDate">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="PRP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="textObservation" type="COCT_MT000213UK01.TextObservation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observation" type="COCT_MT000213UK01.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="pregnancyStatus" type="COCT_MT000213UK01.PregnancyStatus" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="laboratoryReport" type="COCT_MT000216UK01.LaboratoryReport"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="givenMedication" type="COCT_MT000214UK01.GivenMedication" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="proposedAntibiotics" type="COCT_MT000214UK01.ProposedAntibiotics"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="supportingCytologyInfo" type="COCT_MT000215UK01.SupportingCytologyInfo"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="POLB_MT004000UK01.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="referenceInterpretationRange"
                     type="POLB_MT004000UK01.InterpretationRange"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="COCT_MT080200UK01.Specimen" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.SpecimenObservationCluster">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimen" type="POLB_MT004000UK01.Specimen" minOccurs="1" maxOccurs="1"/>
         <xs:element name="performer2" type="POLB_MT004000UK01.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000UK01.InFulfillmentOf2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="POLB_MT004000UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="POLB_MT004000UK01.PertinentInformation3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component2" type="POLB_MT004000UK01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="CLUSTER"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.TextComment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.required" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000UK01.Tracker">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPersonSDS" type="UKCT_MT121100UK01.AssignedPersonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedOrgSDS" type="UKCT_MT121200UK01.AssignedOrgSDS" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="TRC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
</xs:schema>