Schemas/PORX_MT136002UK31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:include schemaLocation="../voc/voc.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<xs:element name="RebuildDispenseHistory" type="PORX_MT136002UK31.RebuildDispenseHistory"/>
	<xs:complexType name="PORX_MT136002UK31.RebuildDispenseHistory">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="component" type="PORX_MT136002UK31.Component" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation1" type="PORX_MT136002UK31.PertinentInformation"/>
			<xs:element name="pertinentInformation3" type="PORX_MT136002UK31.PertinentInformation3"/>
			<xs:element name="pertinentInformation2" type="PORX_MT136002UK31.PertinentInformation4" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ACTN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.Component">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="INT"/>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT136002UK31.AbstractDispenseNotification is 2.16.840.1.113883.2.1.3.2.4.17.113-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.113"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.PertinentInformation">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionID" type="PORX_MT136002UK31.PrescriptionID"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.PrescriptionID">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.PertinentInformation3">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentWithdrawReason" type="PORX_MT136002UK31.WithdrawReason"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.WithdrawReason">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="CV"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.PertinentInformation4">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentRepeatInstanceInfo" type="PORX_MT136002UK31.RepeatInstanceInfo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT136002UK31.RepeatInstanceInfo">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="INT"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
