Schemas/PORX_MT000006UK02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Karen Williams (NHS Connecting for Health) -->
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:include schemaLocation="../voc/voc.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<xs:element name="PrescriptionDetailQueryResponse" type="PORX_MT000006UK02.PrescriptionDetailQueryResponse"/>
	<xs:complexType name="PORX_MT000006UK02.PrescriptionDetailQueryResponse">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="component1" type="PORX_MT000006UK02.Component"/>
			<xs:element name="component3" type="PORX_MT000006UK02.Component1" minOccurs="0"/>
			<xs:element name="component4" type="PORX_MT000006UK02.Component2" minOccurs="0"/>
			<xs:element name="component2" type="PORX_MT000006UK02.Component3" minOccurs="0"/>
			<xs:element name="component5" type="PORX_MT000006UK02.Component4" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component6" type="PORX_MT000006UK02.Component6" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ORGANIZER"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractParentPrescription is 2.16.840.1.113883.2.1.3.2.4.17.119-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.119"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractDispenseNotificationWithClaim is 2.16.840.1.113883.2.1.3.2.4.17.115-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.115"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractDispenseNotification is 2.16.840.1.113883.2.1.3.2.4.17.114-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.114"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component3">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractDispenseClaim is 2.16.840.1.113883.2.1.3.2.4.17.112-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.112"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component4">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractCancelRequest is 2.16.840.1.113883.2.1.3.2.4.17.127-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.127"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT000006UK02.Component6">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<!--OID to use for PORX_MT000006UK02.AbstractCancelRequest is 2.16.840.1.113883.2.1.3.2.4.17.127-->
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="oid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.127"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##targetNamespace" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
