Schemas/PORX_MT100364UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Karen Williams (NHS Connecting for Health) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:include schemaLocation="../voc/voc.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	<xs:include schemaLocation="COCT_MT050012UK05.xsd"/>
	<xs:include schemaLocation="UKCT_MT120201UK04.xsd"/>
	<xs:element name="CancelAttemptNotification" type="PORX_MT100364UK01.CancelAttemptNotification"/>
	<xs:complexType name="PORX_MT100364UK01.CancelAttemptNotification">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="recordTarget" type="PORX_MT100364UK01.RecordTarget"/>
			<xs:element name="author" type="PORX_MT100364UK01.Author"/>
			<xs:element name="responsibleParty" type="PORX_MT100364UK01.ResponsibleParty"/>
			<xs:element name="pertinentInformation2" type="PORX_MT100364UK01.PertinentInformation2"/>
			<xs:element name="pertinentInformation1" type="PORX_MT100364UK01.PertinentInformation" minOccurs="0"/>
			<xs:element name="pertinentInformation" type="PORX_MT100364UK01.PertinentInformation3" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation3" type="PORX_MT100364UK01.PertinentInformation4" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ALRT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="PRMS"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.RecordTarget">
		<xs:sequence>
			<xs:group ref="COCT_MT050012UK05"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="RCT"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.Author">
		<xs:sequence>
			<xs:group ref="UKCT_MT120201UK04"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="UKCT_MT120201UK04"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="RESP"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.PertinentInformation">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentLineItemRef" type="PORX_MT100364UK01.LineItemRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.PrescriptionID">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.PertinentInformation2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionID" type="PORX_MT100364UK01.PrescriptionID"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.LineItemRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.PertinentInformation3">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentCancellationReason" type="PORX_MT100364UK01.CancellationReason"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.CancellationReason">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CV"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.PertinentInformation4">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentOriginalPrescriptionRef" type="PORX_MT100364UK01.OriginalPrescriptionRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT100364UK01.OriginalPrescriptionRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
