Schemas/PRPA_MT000003UK02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes.xsd"/>
   <xs:include schemaLocation="../voc/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="UKCT_MT120301UK02.xsd"/>
   <xs:element name="RequestService" type="PRPA_MT000003UK02.RequestService"/>
   <xs:complexType name="PRPA_MT000003UK02.RequestService">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PRPA_MT000003UK02.Subject" minOccurs="1" maxOccurs="1" name="subject"/>
         <xs:element type="PRPA_MT000003UK02.Author" minOccurs="1" maxOccurs="1" name="author"/>
         <xs:element type="PRPA_MT000003UK02.Component" minOccurs="0" maxOccurs="unbounded" name="component2"/>
         <xs:element type="PRPA_MT000003UK02.Component2" minOccurs="0" maxOccurs="1" name="component1"/>
         <xs:element type="PRPA_MT000003UK02.Component3" minOccurs="1" maxOccurs="1" name="component3"/>
         <xs:element type="PRPA_MT000003UK02.Component4" minOccurs="0" maxOccurs="unbounded" name="component4"/>
         <xs:element type="PRPA_MT000003UK02.PertinentInformation" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="PCPR"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Subject">
      <xs:sequence>
         <xs:element type="PRPA_MT000003UK02.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Patient">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Patient"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="PAT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Author">
      <xs:sequence>
         <xs:group ref="UKCT_MT120301UK02"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Component">
      <xs:sequence>
         <xs:choice>
            <xs:element name="problemChoiceCodedProblem" minOccurs="1" maxOccurs="1" type="PRPA_MT000003UK02.CodedProblem"/>
            <xs:element name="problemChoiceNonCodedProblem" minOccurs="1" maxOccurs="1" type="PRPA_MT000003UK02.NonCodedProblem"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.CodedProblem">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.NonCodedProblem">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Component2">
      <xs:sequence>
         <xs:element type="PRPA_MT000003UK02.Specialty" minOccurs="1" maxOccurs="1" name="specialty"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Specialty">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Component3">
      <xs:sequence>
         <xs:element type="PRPA_MT000003UK02.RequestType" minOccurs="1" maxOccurs="1" name="requestType"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.RequestType">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.Component4">
      <xs:sequence>
         <xs:choice>
            <xs:element name="procedureChoiceCodedProcedure" minOccurs="1" maxOccurs="1" type="PRPA_MT000003UK02.CodedProcedure"/>
            <xs:element name="procedureChoiceNonCodedProcedure" minOccurs="1" maxOccurs="1" type="PRPA_MT000003UK02.NonCodedProcedure"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.CodedProcedure">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.NonCodedProcedure">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.PertinentInformation">
      <xs:sequence>
         <xs:element type="PRPA_MT000003UK02.ContentSensitiveInd" minOccurs="1" maxOccurs="1" name="pertinentContentSensitiveInd"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT000003UK02.ContentSensitiveInd">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>