Schemas/QUPC_IN041234UK01.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
			*************************************************************************************************************************
			* 		XML schema for Interation type : QUPC_IN041234UK01
			*
			*		Transmission Wrapper : MCCI_MT010101UK12
			* 		Contorl Act : QUQI_MT050000UK01
			* 		Payload : QUPC_MT040000UK01
			* 		
			*		Source information:
			*		Generated by Schema builder version : 
			*    	Created on: 
			* 	
			* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
			*  		Redistribution and use in source and binary forms, with or without
			*  		modification, are permitted provided that the following conditions
			*  		are met:
			*  		1. Redistributions of source code must retain the above copyright
			*     		notice, this list of conditions and the following disclaimer.
			*  		2. Redistributions in binary form must reproduce the above copyright
			*     		notice, this list of conditions and the following disclaimer in the
			*     		documentation and/or other materials provided with the distribution.
			*  		3. All advertising materials mentioning features or use of this software
			*     		must display the following acknowledgement:
			*       	This product includes software developed by Health Level Seven.
			*  		THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
			*  		ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
			*  		IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
			*  		ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
			*  		FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
			*  		DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
			*  		OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
			*  		HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
			*  		LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
			*  		OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
			*  		SUCH DAMAGE.
			*
			**************************************************************************************************************************
		-->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/InfVocab.xsd"/>
	<xs:include schemaLocation="MCCI_MT010101UK12.xsd"/>
	<xs:include schemaLocation="QUQI_MT050000UK01.xsd"/>
	<xs:include schemaLocation="QUPC_MT040000UK01.xsd"/>
	<xs:element name="QUPC_IN041234UK01">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="QUPC_IN041234UK01.MCCI_MT010101UK12.Message">
					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="QUPC_IN041234UK01.MCCI_MT010101UK12.Message">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
			<xs:element name="creationTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="versionCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="HL7StandardVersionCode_code" use="required"/>
							<xs:attribute name="codeSystem" type="oid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="interactionId">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="II.NPfIT.Message.oid" use="required"/>
							<xs:attribute name="extension" type="II.NPfIT.Message.extension" use="required"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="processingCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="ProcessingID_code" use="required"/>
							<xs:attribute name="codeSystem" type="oid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="processingModeCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="ProcessingMode_code" use="required"/>
							<xs:attribute name="codeSystem" type="oid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="acceptAckCode" type="CS"/>
			<xs:element name="communicationFunctionRcv" type="MCCI_MT010101UK12.CommunicationFunctionRcv" maxOccurs="unbounded"/>
			<xs:element name="communicationFunctionSnd" type="MCCI_MT010101UK12.CommunicationFunctionSnd"/>
			<xs:element name="ControlActEvent" type="QUPC_IN041234UK01.QUQI_MT050000UK01.ControlActEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="QUPC_IN041234UK01.QUQI_MT050000UK01.ControlActEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="author" type="QUQI_MT050000UK01.Author" nillable="true" minOccurs="0"/>
			<xs:element name="author1" type="QUQI_MT050000UK01.Author2" nillable="true" maxOccurs="2"/>
			<!--Edited the following line by hand where previously, <xs:element name="Query"..., has changed to a lowercase "q", so that the line begins <xs:element name="query"...-->
			<xs:element name="query" type="QUPC_MT040000UK01.Query" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required"/>
	</xs:complexType>
</xs:schema>
