Schemas/QUPC_MT160001UK02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : QUPC_MT160001UK02.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/PSISVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:element name="query" type="QUPC_MT160001UK02.Query"/>
   <xs:complexType name="QUPC_MT160001UK02.Date">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" fixed="Date"/>
         <xs:element name="value" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.DissentOverride">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"
                     fixed="DissentOverride"/>
         <xs:element name="value" type="CV_DissentOverride" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.DocumentType">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" fixed="DocumentType"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.FilterParameters">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="date" type="QUPC_MT160001UK02.Date" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="documentType" type="QUPC_MT160001UK02.DocumentType" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="setId" type="QUPC_MT160001UK02.SetId" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.NHSNumber">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" fixed="NHSNumber"/>
         <xs:element name="value" type="II.NPfIT.oid.mandatory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.Query">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="dissentOverride" type="QUPC_MT160001UK02.DissentOverride" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="filterParameters" type="QUPC_MT160001UK02.FilterParameters" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="nHSNumber" type="QUPC_MT160001UK02.NHSNumber" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT160001UK02.SetId">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" fixed="SetId"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
</xs:schema>