Schemas/REPC_MT150007UK05.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT150007UK05.
* 
*
* Generated by XMLITS version 2.0
*   
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/NHSVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="UKCT_MT144056UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144055UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144054UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144053UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT144050UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144049UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144048UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT144047UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144046UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144045UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144044UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144043UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT144042UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144041UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144040UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144039UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT144038UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT144037UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144036UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144035UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT160018UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT144051UK01.xsd"/>
   <xs:element name="GPSummary" type="REPC_MT150007UK05.GPSummary"/>
   <xs:complexType name="REPC_MT150007UK05.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:group ref="UKCT_MT144056UK01"/>
            <xs:group ref="UKCT_MT144055UK01"/>
            <xs:group ref="UKCT_MT144054UK01"/>
            <xs:group ref="UKCT_MT144053UK02"/>
            <xs:group ref="UKCT_MT144050UK01"/>
            <xs:group ref="UKCT_MT144049UK01"/>
            <xs:group ref="UKCT_MT144048UK02"/>
            <xs:group ref="UKCT_MT144047UK01"/>
            <xs:group ref="UKCT_MT144046UK01"/>
            <xs:group ref="UKCT_MT144045UK01"/>
            <xs:group ref="UKCT_MT144044UK01"/>
            <xs:group ref="UKCT_MT144043UK02"/>
            <xs:group ref="UKCT_MT144042UK01"/>
            <xs:group ref="UKCT_MT144041UK01"/>
            <xs:group ref="UKCT_MT144040UK01"/>
            <xs:group ref="UKCT_MT144039UK02"/>
            <xs:group ref="UKCT_MT144038UK02"/>
            <xs:group ref="UKCT_MT144037UK01"/>
            <xs:group ref="UKCT_MT144036UK01"/>
            <xs:group ref="UKCT_MT144035UK01"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.CREType">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="162951000000105"/>
                              <xs:enumeration value="162961000000108"/>
                              <xs:enumeration value="162991000000102"/>
                              <xs:enumeration value="163001000000103"/>
                              <xs:enumeration value="163021000000107"/>
                              <xs:enumeration value="163031000000109"/>
                              <xs:enumeration value="163041000000100"/>
                              <xs:enumeration value="163051000000102"/>
                              <xs:enumeration value="163071000000106"/>
                              <xs:enumeration value="163081000000108"/>
                              <xs:enumeration value="163091000000105"/>
                              <xs:enumeration value="163101000000102"/>
                              <xs:enumeration value="163131000000108"/>
                              <xs:enumeration value="163141000000104"/>
                              <xs:enumeration value="163171000000105"/>
                              <xs:enumeration value="163181000000107"/>
                              <xs:enumeration value="163191000000109"/>
                              <xs:enumeration value="163221000000102"/>
                              <xs:enumeration value="163231000000100"/>
                              <xs:enumeration value="163241000000109"/>
                              <xs:enumeration value="181331000000109"/>
                              <xs:enumeration value="185361000000102"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="displayName" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="Care Events"/>
                              <xs:enumeration value="Personal Preferences"/>
                              <xs:enumeration value="Problems and Issues"/>
                              <xs:enumeration value="Diagnoses"/>
                              <xs:enumeration value="Social and Personal Circumstances"/>
                              <xs:enumeration value="Services, Care Professionals and Carers"/>
                              <xs:enumeration value="Lifestyle"/>
                              <xs:enumeration value="Family History"/>
                              <xs:enumeration value="Treatments"/>
                              <xs:enumeration value="Investigations"/>
                              <xs:enumeration value="Administrative Procedures"/>
                              <xs:enumeration value="Provision of Advice and Information to Patients and Carers"/>
                              <xs:enumeration value="Clinical Observations and Findings"/>
                              <xs:enumeration value="Investigation Results"/>
                              <xs:enumeration value="Care Professional Documentation"/>
                              <xs:enumeration value="Patient/Carer Correspondence"/>
                              <xs:enumeration value="Third Party Correspondence"/>
                              <xs:enumeration value="Allergies and Adverse Reactions"/>
                              <xs:enumeration value="Risks to Patient"/>
                              <xs:enumeration value="Risks to Care Professional or Third Party"/>
                              <xs:enumeration value="Link Assertion"/>
                              <xs:enumeration value="Medication"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="component" type="REPC_MT150007UK05.Component" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="CATEGORY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.ExcerptFrom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAT_RM-NPfITUK10.excerptFrom"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="UKCT_MT144051UK01.CareProfessionalDocumentationCRE"
                     type="UKCT_MT144051UK01.CareProfessionalDocumentationCRE"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="XCRPT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.GPSummary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="196981000000101" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="General Practice Summary" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="active">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="active"/>
                              <xs:enumeration value="nullified"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="author" type="REPC_MT150007UK05.Author2" minOccurs="1" maxOccurs="1"/>
         <xs:element name="excerptFrom" type="REPC_MT150007UK05.ExcerptFrom" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="REPC_MT150007UK05.PertinentInformation1"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REPC_MT150007UK05.PertinentInformation2"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT150007UK05.RecordTarget" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="replacementOf" type="REPC_MT150007UK05.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="COMPOSITION"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.MessageRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="COMPOSITION"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" type="II.NPfIT.Patient.oid" use="required"/>
                     <xs:attribute name="extension" type="II.NPfIT.Patient.extension" use="required"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="true" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentRootCREType" type="REPC_MT150007UK05.RootCREType" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="true" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentCREType" type="REPC_MT150007UK05.CREType" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="REPC_MT150007UK05.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorMessageRef" type="REPC_MT150007UK05.MessageRef" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RPLC"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT150007UK05.RootCREType">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="163171000000105" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Care Professional Documentation"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="CATEGORY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>