Schemas/UKCT_MT140901UK05.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes.xsd"/>
   <xs:include schemaLocation="../voc/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="UKCT_MT120601UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT142101UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT142001UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT140701UK03.xsd"/>
   <xs:include schemaLocation="UKCT_MT140201UK03.xsd"/>
   <xs:include schemaLocation="UKCT_MT140301UK03.xsd"/>
   <xs:include schemaLocation="UKCT_MT140101UK04.xsd"/>
   <xs:include schemaLocation="UKCT_MT140801UK03.xsd"/>
   <xs:include schemaLocation="UKCT_MT140401UK03.xsd"/>
   <xs:include schemaLocation="UKCT_MT140501UK03.xsd"/>
   <xs:complexType name="UKCT_MT140901UK05.Subject">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.SubjectRole" minOccurs="1" maxOccurs="1" name="subjectRole"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SubjectRole">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.SubjectPerson" minOccurs="0" maxOccurs="1" name="documentSubject"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="x_DocumentSubject" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SubjectPerson">
      <xs:sequence>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Performer">
      <xs:sequence>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.NonAgentRole"/>
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.NonAgentRole">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.NonAgentPerson" minOccurs="0" maxOccurs="1" name="playingNonAgentPerson"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="ROL"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.NonAgentPerson">
      <xs:sequence>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Author1">
      <xs:sequence>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.NonAgentRole"/>
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Location">
      <xs:sequence>
         <xs:choice>
            <xs:element name="IncidentalLocation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.IncidentalLocation"/>
            <xs:choice>
               <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrg"/>
               <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrgSDS"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.IncidentalLocation">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Place" minOccurs="0" maxOccurs="1" name="location"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="ISDLOC"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Place">
      <xs:sequence>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="gpsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Place"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Informant">
      <xs:sequence>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.NonAgentRole"/>
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="INF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Participant">
      <xs:sequence>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrg"/>
               <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrgSDS"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
               <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.PertinentInformation1">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="MedicationAdministrationCourse" minOccurs="1" maxOccurs="1" type="UKCT_MT140701UK03.MedicationAdministrationCourse"/>
            <xs:element name="MedicationAdministrationDose" minOccurs="1" maxOccurs="1" type="UKCT_MT140201UK03.MedicationAdministrationDose"/>
            <xs:element name="PlanMedicationAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140301UK03.PlanMedicationAdministration"/>
            <xs:choice>
               <xs:element name="RecommendAvoidMedication" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendAvoidMedication"/>
               <xs:element name="RecommendDiscontinueMedicationAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendDiscontinueMedicationAdministration"/>
               <xs:element name="RecommendInitiateMedicationAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendInitiateMedicationAdministration"/>
               <xs:element name="RecommendMaintainMedication" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendMaintainMedication"/>
               <xs:element name="RecommendReviewMedication" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendReviewMedication"/>
               <xs:element name="RecommendationOrganizer" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.RecommendationOrganizer"/>
            </xs:choice>
            <xs:element name="RequestMedicationAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140801UK03.RequestMedicationAdministration"/>
            <xs:element name="RequestMedicationSupply" minOccurs="1" maxOccurs="1" type="UKCT_MT140401UK03.RequestMedicationSupply"/>
            <xs:element name="SupplyMedication" minOccurs="1" maxOccurs="1" type="UKCT_MT140501UK03.SupplyMedication"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.PertinentInformation13">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.SupportingInfo" minOccurs="1" maxOccurs="1" name="pertinentSupportingInfo"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SupportingInfo">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SourceOf2">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="CareEvent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.CareEvent"/>
            <xs:element name="Consent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Consent"/>
            <xs:element name="Observation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Observation"/>
            <xs:element name="Organizer" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Organizer"/>
            <xs:element name="Procedure" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Procedure"/>
            <xs:element name="StatementRelationship" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.StatementRelationship"/>
            <xs:element name="SubstanceAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.SubstanceAdministration"/>
            <xs:element name="Supply" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Supply"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SourceOf322">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140901UK05.ActRef" minOccurs="1" maxOccurs="1" name="ActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.ActRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.CareEvent">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Location2" minOccurs="1" maxOccurs="1" name="location1"/>
         <xs:element type="UKCT_MT140901UK05.PertinentInformation11" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ENC"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Location2">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.DedicatedServiceDeliveryLocation" minOccurs="1" maxOccurs="1" name="dedicatedServiceDeliveryLocation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.DedicatedServiceDeliveryLocation">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="DSDLOC"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.PertinentInformation11">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.CareEventCommentary" minOccurs="1" maxOccurs="1" name="pertinentCareEventCommentary"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.CareEventCommentary">
      <xs:sequence>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Consent">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="CONS"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Observation">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Specimen" minOccurs="0" maxOccurs="unbounded" name="specimen"/>
         <xs:element type="UKCT_MT140901UK05.ReferenceRange" minOccurs="0" maxOccurs="1" name="referenceRange"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Specimen">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.SpecimenRole" minOccurs="1" maxOccurs="1" name="specimenRole"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SpecimenRole">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Material" minOccurs="1" maxOccurs="1" name="specimenMaterial"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="SPEC"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Material">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Material"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.ReferenceRange">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.ReferenceValue" minOccurs="1" maxOccurs="1" name="referenceReferenceValue"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="REFV"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.ReferenceValue">
      <xs:sequence>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CV" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN.CRT"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Organizer">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Specimen" minOccurs="0" maxOccurs="unbounded" name="specimen"/>
         <xs:element type="UKCT_MT140901UK05.Component3" minOccurs="0" maxOccurs="unbounded" name="component"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Component3">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="CareEvent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.CareEvent"/>
            <xs:element name="Consent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Consent"/>
            <xs:element name="Observation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Observation"/>
            <xs:element name="Organizer" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Organizer"/>
            <xs:element name="Procedure" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Procedure"/>
            <xs:element name="StatementRelationship" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.StatementRelationship"/>
            <xs:element name="SubstanceAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.SubstanceAdministration"/>
            <xs:element name="Supply" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK05.Supply"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Procedure">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Product2" minOccurs="0" maxOccurs="unbounded" name="product"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Product2">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.SpecimenRole" minOccurs="1" maxOccurs="1" name="specimenRole"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.StatementRelationship">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.PertinentInformation18" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element type="UKCT_MT140901UK05.PertinentInformation19" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.PertinentInformation18">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140901UK05.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.PertinentInformation19">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140901UK05.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.SubstanceAdministration">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Consumable1" minOccurs="1" maxOccurs="1" name="consumable"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Consumable1">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.ManufacturedProduct" minOccurs="1" maxOccurs="1" name="manufacturedProduct"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.ManufacturedProduct">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.ManufacturedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedManufacturedMaterial"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="MANU"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.ManufacturedMaterial">
      <xs:sequence>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Supply">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140901UK05.Product" minOccurs="1" maxOccurs="1" name="product"/>
         <xs:element name="subject" type="UKCT_MT140901UK05.Subject" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT140901UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT140901UK05.Author1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="UKCT_MT140901UK05.Location" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="UKCT_MT140901UK05.Informant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Participant" type="UKCT_MT140901UK05.Participant" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK05.PertinentInformation1" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK05.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="UKCT_MT140901UK05.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="UKCT_MT140901UK05.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Supply"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140901UK05.Product">
      <xs:sequence>
         <xs:element type="UKCT_MT140901UK05.ManufacturedProduct" minOccurs="1" maxOccurs="1" name="manufacturedProduct"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>