Schemas/UKCT_MT144052UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type UKCT_MT144052UK01.
* 
*
* Generated by XMLITS version 2.0
*   
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="UKCT_MT160018UK01.xsd"/>
   <xs:group name="UKCT_MT144052UK01">
      <xs:sequence>
         <xs:element name="UKCT_MT144052UK01.Consent" type="UKCT_MT144052UK01.Consent"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="UKCT_MT144052UK01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="participantNonAgentRole" type="UKCT_MT144052UK01.NonAgentRole"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="cs" use="prohibited" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.Consent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144052UK01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT144052UK01.Performer" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="UKCT_MT144052UK01.PertinentInformation13"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="UKCT_MT144052UK01.ResponsibleParty" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CONS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.NonAgentPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="cs" use="prohibited" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.NonAgentRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="playingNonAgentPerson" type="UKCT_MT144052UK01.NonAgentPerson"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="ROL"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="participantNonAgentRole" type="UKCT_MT144052UK01.NonAgentRole"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="cs" use="prohibited" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.PertinentInformation13">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentSupportingInfo" type="UKCT_MT144052UK01.SupportingInfo"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="participantNonAgentRole" type="UKCT_MT144052UK01.NonAgentRole"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="RESP"/>
      <xs:attribute name="contextControlCode" type="cs" use="prohibited" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144052UK01.SupportingInfo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
</xs:schema>