Schemas/UKCT_MT144039UK02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type UKCT_MT144039UK02.
* 
*
* Generated by XMLITS version 2.0
*   
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/NHSVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="UKCT_MT160018UK01.xsd"/>
   <xs:group name="UKCT_MT144039UK02">
      <xs:choice>
         <xs:element name="UKCT_MT144039UK02.LinkAssertion" type="UKCT_MT144039UK02.LinkAssertion"/>
         <xs:element name="UKCT_MT144039UK02.ProblemMemberAssertion"
                     type="UKCT_MT144039UK02.ProblemMemberAssertion"/>
         <xs:element name="UKCT_MT144039UK02.ProblemLinkAssertion"
                     type="UKCT_MT144039UK02.ProblemLinkAssertion"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="UKCT_MT144039UK02.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.LinkAssertion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="nullified"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="UKCT_MT144039UK02.PertinentInformation18"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="UKCT_MT144039UK02.PertinentInformation19"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144039UK02.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentProblem" type="UKCT_MT144039UK02.Problem" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation18">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="PersonalPreference">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Finding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="SocialContext">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FamilyHistory">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Diagnosis">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Medication">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="RQO" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="MedicationAdministration">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsDE">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsIdent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPerson">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPatient">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Investigation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Service">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PCPR" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="ProvisionOfAdviceAndInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="INFRM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AdministrativeProcedure">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ACT" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Treatment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CareEvent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ENC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation19">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="PersonalPreference">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Finding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="SocialContext">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FamilyHistory">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Diagnosis">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Medication">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="RQO" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="MedicationAdministration">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsDE">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsIdent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPerson">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPatient">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Investigation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Service">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PCPR" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="ProvisionOfAdviceAndInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="INFRM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AdministrativeProcedure">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ACT" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Treatment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CareEvent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ENC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="PersonalPreference">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Finding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="SocialContext">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FamilyHistory">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Diagnosis">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Medication">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="RQO" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="MedicationAdministration">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="SBADM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsDE">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsIdent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPerson">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPatient">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Investigation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Service">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PCPR" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="ProvisionOfAdviceAndInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="INFRM" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AdministrativeProcedure">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ACT" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Treatment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CareEvent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ENC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation21">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentProblem" type="UKCT_MT144039UK02.Problem" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.PertinentInformation4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentProblem" type="UKCT_MT144039UK02.Problem" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="true"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.Problem">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.ProblemLinkAssertion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="181311000000101" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Problem link" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="nullified"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation5" type="UKCT_MT144039UK02.PertinentInformation4"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation6" type="UKCT_MT144039UK02.PertinentInformation21"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144039UK02.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144039UK02.ProblemMemberAssertion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="416271009" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Has problem member" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="nullified"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT144039UK02.PertinentInformation1"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation4" type="UKCT_MT144039UK02.PertinentInformation2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144039UK02.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>