Schemas/UKCT_MT144012UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes.xsd"/>
   <xs:include schemaLocation="../voc/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="UKCT_MT142101UK01.xsd"/>
   <xs:complexType name="UKCT_MT144012UK01.StatementRelationship">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT144012UK01.Author" minOccurs="0" maxOccurs="1" name="author"/>
         <xs:element type="UKCT_MT144012UK01.PertinentInformation18" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element type="UKCT_MT144012UK01.PertinentInformation19" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144012UK01.Author">
      <xs:sequence>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="AgentPersonNonSDS" type="UKCT_MT142101UK01.AgentPersonNonSDS" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AgentPersonSDS" type="UKCT_MT142101UK01.AgentPersonSDS" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144012UK01.PertinentInformation18">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT144012UK01.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144012UK01.ActRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144012UK01.PertinentInformation19">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT144012UK01.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>