Schemas/UKCT_MT144040UK01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type UKCT_MT144040UK01.
* 
*
* Generated by XMLITS version 2.0
*   
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/NHSVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="UKCT_MT160018UK01.xsd"/>
   <xs:group name="UKCT_MT144040UK01">
      <xs:choice>
         <xs:element name="UKCT_MT144040UK01.CurrentRepeatMedication"
                     type="UKCT_MT144040UK01.CurrentRepeatMedication"/>
         <xs:element name="UKCT_MT144040UK01.AcuteMedication"
                     type="UKCT_MT144040UK01.AcuteMedication"/>
         <xs:element name="UKCT_MT144040UK01.DiscontinuedRepeatMedication"
                     type="UKCT_MT144040UK01.DiscontinuedRepeatMedication"/>
         <xs:element name="UKCT_MT144040UK01.MedicationAdministration"
                     type="UKCT_MT144040UK01.MedicationAdministration"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="UKCT_MT144040UK01.AcuteMedication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="222671000000103" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Acute medication" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="normal"/>
                              <xs:enumeration value="active"/>
                              <xs:enumeration value="nullified"/>
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="aborted"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="UKCT_MT144040UK01.PertinentInformation6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144040UK01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="UKCT_MT144040UK01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="consumable" type="UKCT_MT144040UK01.Consumable" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="UKCT_MT144040UK01.PertinentInformation13"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT144040UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT144040UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.AdministrationDetails">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="AD" type="cs"/>
                     <xs:attribute name="displayName" use="required"
                                   fixed="Medication administration Instructions"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.30"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="medicationQuantity" type="UKCT_MT144040UK01.MedicationQuantity"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="UKCT_MT144040UK01.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.CurrentRepeatMedication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="222681000000101" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Repeat medication" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="active">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="normal"/>
                              <xs:enumeration value="active"/>
                              <xs:enumeration value="nullified"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="UKCT_MT144040UK01.PertinentInformation6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144040UK01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="UKCT_MT144040UK01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="consumable" type="UKCT_MT144040UK01.Consumable" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="UKCT_MT144040UK01.PertinentInformation13"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT144040UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT144040UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.DaysSupply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="228864003" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Duration of Course of Treatment"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.DiscontinuedRepeatMedication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="222691000000104" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Discontinued repeat medication"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="normal"/>
                              <xs:enumeration value="nullified"/>
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="aborted"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="UKCT_MT144040UK01.PertinentInformation6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="reason1" type="UKCT_MT144040UK01.Reason3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="UKCT_MT144040UK01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="UKCT_MT144040UK01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="consumable" type="UKCT_MT144040UK01.Consumable" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="UKCT_MT144040UK01.PertinentInformation13"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT144040UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT144040UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.DosageInstructions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="DI" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Dose Instructions" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.30"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.ManufacturedMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedManufacturedMaterial"
                     type="UKCT_MT144040UK01.ManufacturedMaterial"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="MANU"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.MedicationAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="optional" default="completed">
                        <xs:simpleType>
                           <xs:restriction base="cs">
                              <xs:enumeration value="normal"/>
                              <xs:enumeration value="active"/>
                              <xs:enumeration value="nullified"/>
                              <xs:enumeration value="completed"/>
                              <xs:enumeration value="aborted"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="performer" type="UKCT_MT144040UK01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="UKCT_MT144040UK01.PertinentInformation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT144040UK01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="UKCT_MT144040UK01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="consumable" type="UKCT_MT144040UK01.Consumable" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="UKCT_MT144040UK01.PertinentInformation13"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT144040UK01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT144040UK01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.MedicationQuantity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="246205007" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Quantity" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.NonAgentPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.NonAgentRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.oid.required" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" type="PersonRelationshipType_code"/>
                     <xs:attribute name="displayName" use="required" type="PersonRelationshipType_displayName"/>
                     <xs:attribute name="codeSystem" use="required" type="uid"
                                   fixed="2.16.840.1.113883.2.1.3.2.4.16.15"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="playingNonAgentPerson" type="UKCT_MT144040UK01.NonAgentPerson"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ROL"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="UKCT_MT160018UK01.AgentPersonSDS" type="UKCT_MT160018UK01.AgentPersonSDS"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="UKCT_MT160018UK01.AgentPerson" type="UKCT_MT160018UK01.AgentPerson"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="participantNonAgentRole" type="UKCT_MT144040UK01.NonAgentRole"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentAdministrationDetails"
                     type="UKCT_MT144040UK01.AdministrationDetails"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.PertinentInformation13">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentSupportingInfo" type="UKCT_MT144040UK01.SupportingInfo"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentDaysSupply" type="UKCT_MT144040UK01.DaysSupply" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.PertinentInformation6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentDosageInstructions" type="UKCT_MT144040UK01.DosageInstructions"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="PersonalPreference">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Finding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FamilyHistory">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Diagnosis">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsDE">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsIdent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPatient">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Investigation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Treatment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CareEvent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ENC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.Reason3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="PersonalPreference">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Finding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FamilyHistory">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Diagnosis">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsDE">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AllergiesAndAdverseReactionsIdent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RiskToPatient">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="OBS" use="required"/>
                  <xs:attribute name="moodCode" fixed="EVN" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Investigation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Treatment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="PROC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CareEvent">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="id" type="II.NPfIT.uuid.mandatory"/>
                  </xs:sequence>
                  <xs:attribute name="classCode" fixed="ENC" use="required"/>
                  <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
      <xs:attribute name="inversionInd" type="bl" use="required" fixed="false"/>
      <xs:attribute name="negationInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT144040UK01.SupportingInfo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="SupportingText" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Supporting Text" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.126"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>