Schemas/UKCT_MT140101UK04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes.xsd"/>
   <xs:include schemaLocation="../voc/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="UKCT_MT142001UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT142101UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT120601UK02.xsd"/>
   <xs:include schemaLocation="UKCT_MT141101UK01.xsd"/>
   <xs:complexType name="UKCT_MT140101UK04.Performer">
      <xs:sequence>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrg"/>
               <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrgSDS"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
               <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Author">
      <xs:sequence>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            <xs:choice>
               <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
               <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.PrimaryInformationRecipient">
      <xs:sequence>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.NonAgentRole"/>
            <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrg"/>
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrgSDS"/>
            <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRCP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.NonAgentRole">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.NonAgentPerson" minOccurs="0" maxOccurs="1" name="playingNonAgentPerson"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="ROL"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.NonAgentPerson">
      <xs:sequence>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Tracker">
      <xs:sequence>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK04.NonAgentRole"/>
            <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrg"/>
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142001UK01.AgentOrgSDS"/>
            <xs:element name="AgentPersonNonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonNonSDS"/>
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT142101UK01.AgentPersonSDS"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="TRC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.PertinentInformation6">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.RecommendationReviewdate" minOccurs="1" maxOccurs="1" name="pertinentRecommendationReviewdate"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendationReviewdate">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Reason">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.ReasonForRecommendationRef" minOccurs="1" maxOccurs="1" name="justifyingReasonForRecommendationRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="RSON"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.ReasonForRecommendationRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Reason2">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Observation" type="UKCT_MT141101UK01.Observation" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="RSON"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.SourceOf">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.ActRef" minOccurs="1" maxOccurs="1" name="ActRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.ActRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendAvoidMedication">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Consumable" minOccurs="1" maxOccurs="1" name="consumable"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation2" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RMD"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Consumable">
      <xs:sequence>
         <xs:element type="UKCT_MT140101UK04.ManufacturedProduct" minOccurs="1" maxOccurs="1" name="manufacturedProduct"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.ManufacturedProduct">
      <xs:sequence>
         <xs:element type="UKCT_MT140101UK04.ManufacturedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedManufacturedMaterial"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="MANU"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.ManufacturedMaterial">
      <xs:sequence>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.PertinentInformation2">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.DosageInstructions" minOccurs="1" maxOccurs="1" name="pertinentDosageInstructions"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.DosageInstructions">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.PertinentInformation3">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.AdditionalInstructions" minOccurs="1" maxOccurs="1" name="pertinentAdditionalInstructions"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.AdditionalInstructions">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendDiscontinueMedicationAdministration">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Consumable" minOccurs="0" maxOccurs="1" name="consumable"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation8" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
         <xs:element type="UKCT_MT140101UK04.SequelTo" minOccurs="0" maxOccurs="1" name="sequelTo"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RMD"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.PertinentInformation8">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.WhenToDiscontinue" minOccurs="1" maxOccurs="1" name="pertinentWhenToDiscontinue"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="PERT"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.WhenToDiscontinue">
      <xs:sequence>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.SequelTo">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.RequestMedicationAdministrationRef" minOccurs="1" maxOccurs="1" name="priorRequestMedicationAdministrationRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SEQL"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RequestMedicationAdministrationRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendInitiateMedicationAdministration">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Consumable" minOccurs="1" maxOccurs="1" name="consumable"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation2" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RMD"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendMaintainMedication">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Consumable" minOccurs="0" maxOccurs="1" name="consumable"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element type="UKCT_MT140101UK04.SequelTo" minOccurs="0" maxOccurs="1" name="sequelTo"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RMD"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendReviewMedication">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Consumable" minOccurs="0" maxOccurs="1" name="consumable"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         <xs:element type="UKCT_MT140101UK04.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         <xs:element type="UKCT_MT140101UK04.Subject" minOccurs="0" maxOccurs="1" name="subject"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RMD"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Subject">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.SubstanceAdministration" minOccurs="1" maxOccurs="1" name="substanceAdministration"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUBJ"/>
      <xs:attribute name="inversionInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.SubstanceAdministration">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.RecommendationOrganizer">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="UKCT_MT140101UK04.Component" minOccurs="1" maxOccurs="unbounded" name="component2"/>
         <xs:element type="UKCT_MT140101UK04.Component2" minOccurs="1" maxOccurs="unbounded" name="component1"/>
         <xs:element name="performer" type="UKCT_MT140101UK04.Performer" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="UKCT_MT140101UK04.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK04.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
         <xs:element name="tracker" type="UKCT_MT140101UK04.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="UKCT_MT140101UK04.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="UKCT_MT140101UK04.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason1" type="UKCT_MT140101UK04.Reason2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UKCT_MT140101UK04.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="CLUSTER"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Component">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.RecommendDiscontinueMedicationAdministration" minOccurs="1" maxOccurs="1" name="recommendDiscontinueMedicationAdministration"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UKCT_MT140101UK04.Component2">
      <xs:sequence>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId">
            <xs:complexType>
               <xs:attribute name="root" use="required">
                  <xs:simpleType>
                     <xs:restriction base="uid">
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="extension" use="required">
                  <xs:simpleType>
                     <xs:restriction base="st">
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               <xs:attribute name="displayable" type="bl" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element type="UKCT_MT140101UK04.RecommendInitiateMedicationAdministration" minOccurs="1" maxOccurs="1" name="recommendInitiateMedicationAdministration"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>